<h1>Show Comment</h1>

<% if @comment.user %>
<div class="indie-flower">
  <%= "Created by #{@comment.user.first_name} #{@comment.user.last_name}" %>
</div>
<% end %>
<%= @comment.body %>
<%= link_to "edit", edit_comment_path(@comment) %>
<%= link_to "delete", comment_path(@comment), {method: :delete,
                                              data: {confirm: "Are you sure?"}} %>
