<div class="">

  <%= image_tag("author.jpg", class: "img-rounded") %>
  <div class="float-right bangers">Laszlo Hasznos</div>
  <div class="float-right indie-flower">hasznos.laszlo@gmail.com</div>
</div>
