<div class="">

  <%= image_tag("author.jpg", class: "img-rounded") %>
  <div class="float-right post-title">Laszlo Hasznos</div>
  <div class="float-right post-body">hasznos.laszlo@gmail.com</div>
</div>
