<nav>
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
  </div>
  <%= link_to "about", about_path %>
  <%= link_to "home", home_path %>
  <%= link_to "posts", posts_path %>
</nav>
